<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.LessonMapper">
    <!--根据课程id查询课时信息-->
    <select id="findLessonBYCourseId" resultType="com.lagou.domain.CourseLesson" parameterType="int">
        select
            *
        from
            course_lesson
        where
            course_id = #{courseId}
        order by
            order_num
    </select>

    <!--保存课时信息-->
    <insert id="saveLesson" parameterType="com.lagou.domain.CourseLesson">
        insert into
            course_lesson(
                course_id,
                section_id,
                theme,
                duration,
                is_free,
                create_time,
                update_time,
                is_del,
                order_num,
                status
                )
            value (
                #{courseId},
                #{sectionId},
                #{theme},
                #{duration},
                #{isFree},
                #{createTime},
                #{updateTime},
                #{isDel},
                #{orderNum},
                #{status}
            )
    </insert>
</mapper>