<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.RoleMapper">
    <!--角色查询&条件查询&课程回显-->
    <select id="findAllRole" parameterType="com.lagou.domain.Roles" resultType="com.lagou.domain.Roles">
        select * from roles
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="id != null and id !=  ''">
                and id = #{id}
            </if>
        </where>
    </select>

    <!--保存角色信息-->
    <insert id="saveRole" parameterType="com.lagou.domain.Roles">
        insert into
            roles(code, name, description,
            created_time, updated_time, created_by,
            updated_by)
        value(
            #{code},
            #{name},
            #{description},
            #{createdTime},
            #{updatedTime},
            #{createdBy},
            #{updatedBy}
        )
    </insert>

    <!--修改角色信息-->
    <update id="updateRole" parameterType="com.lagou.domain.Roles">
        update roles
        <trim prefix="set" suffixOverrides=",">
            <if test="code != null and  code != ''">
                code = #{code},
            </if>
            <if test="name != null and  name != ''">
                name = #{name},
            </if>
            <if test="description != null and  description != ''">
                description = #{description},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="updatedBy != null and  updatedBy != ''">
                updated_by = #{updatedBy}
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
        </where>
    </update>
    <!--查询角色表和菜单表对应的关联关系并返回菜单id-->
    <select id="findMenuById" parameterType="int" resultType="int">
        select m.id from  roles r inner join role_menu_relation rmr on r.id = rmr.role_id
        inner join menu m on rmr.menu_id = m.id where r.id = #{roloId}
    </select>
    <!--清空角色表和菜单表对应的关联关系-->
    <delete id="deleteRoleMenuRelationByRoleId" parameterType="int">
        delete from role_menu_relation where role_id = #{roleId}
    </delete>

    <insert id="saveRoleMenuRelationByRoleId" parameterType="com.lagou.domain.RoleMenuRelation">
        insert into
            role_menu_relation(
                menu_id,
                role_id,
                created_time,
                updated_time,
                created_by,
                updated_by)
            value(
                #{menuId},
                #{roleId},
                #{createdTime},
                #{updatedTime},
                #{createdBy},
                #{updatedBy}
            )
    </insert>
</mapper>